<div class="flex h-screen max-w-7xl mx-auto bg-gray-100">
  <!-- Sidebar -->
  <div class="flex flex-col w-65 bg-white">
    <!-- Logo/Brand -->
    <div class="flex justify-center items-center gap-2 py-4">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none">
        <rect x="3" y="4" width="18" height="16" rx="3" stroke="#1F2937" stroke-width="2" />
        <rect x="6" y="7" width="5" height="10" rx="2" fill="#1F2937" />
        <rect x="13" y="7" width="5" height="10" rx="2" fill="#9CA3AF" />
      </svg>
      <h1 class="text-xl text-gray-600 font-semibold">Primary Flex</h1>
    </div>

    <!-- Navigation -->
    <p-panel-menu [model]="navItems" [pt]="{
      root:'border-0! gap-0!',
      panel:'border-0! p-0!',
      submenuIcon:'order-1 ml-auto text-black!',
      headerLink:'hover:bg-gray-200 text-black! rounded-lg!',
      headerIcon:'text-black!',
      itemIcon:'text-black!',
      itemLink:'hover:bg-gray-200 text-black! rounded-lg!'
    }"
    [multiple]=""
    ></p-panel-menu>
  </div>

  <!-- Main Content Area -->
  <div class="flex-1 overflow-y-auto p-4 bg-white">
    <router-outlet></router-outlet>
  </div>
</div>